/*
Copyright © 2018 Dennis Schulmeister-Zimolong

E-Mail: dhbw@windows3.de
Webseite: https://www.wpvs.de/

Dieser Quellcode ist lizenziert unter einer
Creative Commons Namensnennung 4.0 International Lizenz.
*/

/*
 * ALLGEMEINE LAYOUTOPTIONEN
 */
@import url('https://fonts.googleapis.com/css?family=Quicksand');

html, body {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Quicksand', sans-serif;
    font-size: 14pt;

    background-color: rgb(250, 250, 250);
    color: rgb(83, 91, 94);

    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    box-sizing: border-box;
    height: 100%;
}

@media (max-width: 768px) {
    html {
        font-size: 12pt;
    }
}

header {
    background: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    position: sticky;
}

header, main {
    padding: 1rem;
}

/* Titelzeile */
#titlebar {
    color: rgb(145, 204, 229);
    font-size: 260%;
    margin-bottom: 1rem;
    display: fixed;
}

@media (max-width: 768px) {
    #titlebar {
        font-size: 160%;
    }
}

#titlebar > * {
    display: inline-block;
}

#titlebar .appname {
    color: rgb(83, 149, 176);   
}
/* Menüzeile */
#menubar .menuitem {
    display: inline-block;
    padding-right: 2em;
    padding-bottom: 0.5em;
    float:left;
}
#menuitem1 {
    display: inline-block;
    padding-right: 2em;
    padding-bottom: 0.5em;
    float:right;
    color: rgb(200, 100, 229);
    font-size: 50%;
    margin-bottom: 1rem;
    
}

.icon-erstelleTermin
{width: 100%;
margin-top: 0.5em;}
.icon-erstellenKalender
{width: 100%;
margin-top: 0.5em;}
.icon-hinzufuegenKalender
{width: 100%;
margin-top: 0.5em;}
.icon-switch{width: 100%;
 margin-top: 0.5em;}

#m1{
    width: 100%;
    font-size: 100%;
    margin-top: 0.5em;
}

/* Farben für Links */


a:hover {
    text-decoration: underline;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* white */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    margin-top: 6.3rem;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
#hauptfenster {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 

table, td, th {
    border: 1px solid black;
    height: 100%;
}

td {
    height: 4rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}
